.risk-table {
  width: 75%;
  border-collapse: collapse;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
}

.risk-table th {
  border-radius: 4px;
  background: #FCFCFD;
  border-bottom: 1px solid #EAECF0;
  color: #667085;
  font-family:Arial, Helvetica, sans-serif;
   font-style: normal;
  font-weight: 500;
  font-size: 10px;
  font-weight: bold;
  padding: 10px; 
  text-align: center; 
}

.sub-table th {
  background-color:#80959f;
  color: #fafdff;
  font-size: 10px;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #d4dfe6;
  text-align: center; 
}


.risk-table td {
  font-size: 10px;
  padding: 8px;
    max-height: 50px; /* Set the maximum height for the rows */
  overflow: hidden; /* Hide any overflowing content */
  text-overflow: ellipsis; /* Add ellipsis (...) for truncated text */
  white-space: nowrap; /* Prevent line breaks within table cells */
  max-width: 100px;
   border-radius: 4px;
}
.risk-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.risk-table tbody tr:hover {
  background-color: #e5e5e5;
}
 
.select-dropdown {
  border: none;
  font-size: 10px;
  padding: 5px; 
   
}

.select-dropdown option {
  font-size: 12px;
}
.select-dropdown:focus {
  outline: none;
  border: none;
}